/* Global styles
-------------------------------- */
body {
    color: #343434;
}

img {
    width: 300px;
}

/* Profile
-------------------------------- */
header{
    background: #2F3061;
}

/* Project
-------------------------------- */

/* Work Experience
-------------------------------- */

/* Education
-------------------------------- */

/* Contac Info
-------------------------------- */